body {
  margin: 0;
}

header {
  background-color: #007788;
  color: white;
  padding-left: 15px;
}

header>h1 {
  margin-bottom: 0px;
}

nav {
  background-color: #aaa;
  margin-top: 0px;
}

ul {
  margin: 0px;
}

li {
  padding: 0 10px 0 10;
  width: 100px;
  display: inline;
}

li:hover {
  background-color: black;
  color: white;
}

.colContainer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.column1, .column2, .column3 {
  float:left;
  width: 300px;
  margin: 0px 10 0 10;
}

.redText {
  color: red;
}

button {
  display: block;
}
